@import 'react-toastify/dist/ReactToastify.css';

.d-flex.flex-row {
    justify-content: center;
}

/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
  }
  
  /* Estilos para el modo claro */
  .light-mode {
    background-color: #ffffff;
    color: #000000;
  }

  /* ItemListContainer.css */
/* Estilos comunes para el componente */
.item-list-container { 
    padding: 5rem;
}

/* Estilos para el modo oscuro */
.dark-mode .item-list-container {
  background-color: #333;
  color: #fff;
}

/* Estilos para el modo claro */
.light-mode .item-list-container {
  background-color: #f5f5f5;
  color: #333;
}

.btn .material-icons {
      margin: 10px;      
      width: 1px;
      height: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
  }   

/* Estilos para los enlaces personalizados en el navbar */
.custom-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
  transition: font-size 0.3s ease;
}

.custom-link:hover {
  font-size: 20px;
}

/* Estilo para el enlace activo */
.active-link {
  
  
  font-size: 20px;
  /* Aquí puedes agregar más estilos para el enlace activo si lo deseas */
}

/* Estilo para ajustar los márgenes del ItemListContainer */
.item-list-container {
  margin-top: 0; /* Elimina el margen superior */
  margin-bottom: 0; /* Elimina el margen inferior */
  padding-top: 20px; /* Agrega un espacio superior */
  padding-bottom: 20px; /* Agrega un espacio inferior */
}