@import 'react-toastify/dist/ReactToastify.css';

.d-flex.flex-row {
    justify-content: center;
}

/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #2c2c2c;
    color: #ffffff;
  }
  
  
  /* Estilos para el modo claro */
  .light-mode {
    background-color: #ffffff;
    color: #000000;
  }

  /* ItemListContainer.css */
/* Estilos comunes para el componente */
.item-list-container { 
    padding: 3rem;
}

/* Estilos para el modo oscuro */
.dark-mode .item-list-container {
  background-color: #333;
  color: #fff;
}

/* Estilos para el modo claro */
.light-mode .item-list-container {
  background-color: #f5f5f5;
  color: #333;
  justify-content: space-evenly;
}

.btn .material-icons {
      margin: 10px;      
      width: 1px;
      height: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      
  }   

/* Estilos para los enlaces personalizados en el navbar */
.custom-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  margin: 0 10px;
  transition: font-size 0.3s ease;
}

.custom-link:hover {
  font-size: 20px;
}

/* Estilo para el enlace activo */
.active-link {
  
  
  font-size: 20px;
  /* Aquí puedes agregar más estilos para el enlace activo si lo deseas */
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

//carusel

/* Estilos para los botones con iconos */
.material-icons {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  background-color: transparent;
}

.material-icons:hover {
  background-color: #ccc; /* Cambia el color de fondo al pasar el mouse sobre el botón */
  color: #333; /* Cambia el color del icono al pasar el mouse sobre el botón */
  border-color: #ccc; /* Cambia el color del borde al pasar el mouse sobre el botón */
}

/* Estilos para los iconos */
.button-icon {
  font-size: 24px; /* Tamaño del icono */
}

//greeting

/* Estilos para el componente Greeting */
.greeting-container {
  position: relative;
  width: 100%;  
  height: 30vh; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
  
}

.background-video {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el tamaño del video para que cubra todo el contenedor */
}

.content {
  position: relative;
  z-index: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  color: white;
}

.overlay { 
  background-color: #00000043;  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-transform: uppercase; 
    font-weight: bold; 
    margin-bottom: 50px; 
  }
}


.hero-section {
  /* Estilos para el componente HeroSection, si es necesario */
}

/* Estilos para la barra de búsqueda */
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

/* Estilos para la entrada de texto y el botón de búsqueda */
input[type="text"] {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
}

/* Estilos para las sugerencias de autocompletado */
.autocomplete-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Asegura que las sugerencias estén por encima de otros elementos */
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestion-item:last-child {
  border-bottom: none;
}

/* Estilos para las sugerencias de autocompletado */
.autocomplete-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestion-item:last-child {
  border-bottom: none;
}

/* Estilo para el texto de la sugerencia */
.suggestion-text {
  color: black; /* Cambia el color del texto a negro */
}